*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
*.json.bak
app/boda-app-99092-firebase-adminsdk-fbsvc-*.json
backend/.env
backend/migrate*.sql
node_modules/
backend/node_modules/
package-lock.json
backend/package-lock.json
*.log
